
* {
    font-family: "Kulim Park";
    touch-action: manipulation;
}
body {
    background-color: #d9eaf3;
    margin: 0;
}

header {
    font-size: 75px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    padding-top: 30px;
}

.bodyContainer {
    width: 100%;

}

.calculatorContainer {
    display: grid;
    margin: 20px auto;
    border: 10px solid darkslategray;
    border-radius: 40px;
    background-color: burlywood;
    grid-template-columns: repeat(4,minmax(120px, 1fr));
    grid-template-rows: repeat(6, minmax(100px, auto));
    min-width: 580px;
    max-width: 600px;
    min-height: 700px;
    max-height: 800px;
    justify-items: center;
    align-items: center;
}

.calculatorContainer.mobilePhone {
    margin: 20px 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    min-height: 50%;
    max-height: 90%;
    min-width: 98%;
    max-width: 98%;
}

.displayContainer {
    display: flex;
    background-color: antiquewhite;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: span 4;
    vertical-align: middle;
}

#display {
    display: flex;
    background-color: antiquewhite;
    font-size: 400%;
    font-weight: bold;
    width: 90%;
    max-height: 100%;
    text-align: right;
    margin: 10px auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 5px solid dimgray;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.buttonContainer button {
    display: block;
    width: 100%;
    background-color: slategray;
    color: antiquewhite;
    border: none;
    font-size: 300%;
    box-shadow: 2px 2px darkgray inset;
}

.nothing {
    display: flex;
    width: 100%;
    height: 100%;
}

button.operator, .nothing, sup {
    background-color: black;
}

sup {
    font-size: 50%;
    vertical-align: top;
}

#zerobtn {
    border-bottom-left-radius: 30px;
}

.zeroClass {
    border-bottom-left-radius: 60px;
}

#equals {
    border-bottom-right-radius: 60px;
}

#equalsbtn {
    border-bottom-right-radius: 30px;
}

button:hover {
    /* font-size: 450%; Currently messing with grid size in mobile */
    opacity: 0.8;
    transition: all 250ms ease-in-out;
}

.buttonPressed {
    font-size: 450%;
    opacity: 0.8;
}

#backspacebtn.buttonPressed {
    opacity: 0.5;
}

button:focus {
    outline: none;
}

#clearbtn {
    background-color: darkgreen;
}

#backspacebtn {
    background-color: darkred;
    opacity: 0.6;
}

.operatorAndPreviousNumber {
    background-color: inherit;
    font-size: 40%;
}

#previousNumberDisplay, #currentOperatorDisplay {
    background-color: inherit;
    display: inline-flex;
    opacity: 0.7;
    margin: 0;
}

#previousNumberDisplay {
    float: left;
    padding-left: 10px;
    left: 10px;
    border: 2px solid antiquewhite;
    border-radius: 30px;
}

#currentOperatorDisplay {
    float: right;
    padding-right: 10px;
    text-align: right;
}

#displayP {
    margin: 0 20px 20px;
    background-color: inherit;
    font-weight: 600;
}

button:disabled {
    background-color: lightgray;
}

#backspacebtn:disabled, .disabledSup {
    background-color: lightgray;
    opacity: 1;
}
